.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 2rem 0;
  background-color: darkblue;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
}

.footer {
  padding: 2rem 0;
  background-color: darkblue;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
}
